*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen  and (min-width:720px) {      /*Media queries para desktop*/
    

body{                                       /*Estilos de body*/                      
    width: 90%;
    max-width: 75em;
    background: #acacac;
    background: linear-gradient(270deg,#acacac 80%, #eed38c 90%);
    background: -webkit-linear-gradient(270deg,#acacac 80%, #eed38c 90%);
    background: -moz-linear-gradient(270deg,#acacac 80%, #eed38c 90%);
    background-repeat: no-repeat;
}
.navbar {
    
    display: flex;
    flex-direction: column;
}
.navbar .title {                           /*fuentes y demás del li*/
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 1.2em;
    position: static;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
    justify-content:center;
    
}
.navbar .title li {
    list-style:none;     
    margin-bottom: 5rem;
    margin: 0.625rem;
    text-decoration: none;
                   
}
   
.navbar .logop {                               /*logo pequeño barra de nav*/
    max-width: 5.25em;
    max-height: 5.25em;  
    margin-left: 20px;
    margin-right: 30px; 
    margin-top: 5px;
    border-radius: 7px;
    box-shadow:  -11px -11px 22px #818181,
             11px 11px 22px #d7d7d7; 
    
}
.navbar a {
    border-radius: 3px;
    padding: 0.5rem;
    background-color:#dfe6f4;
    text-decoration: none;
    color: #727272;
    transition: 0.5s;
}
.navbar a:hover {
 
    color: white;
    text-decoration: none;
    background-color:#727272;
       
           
}

      
.menu {
    background-image: url(../image/fondo.png);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
     }
.menu .titulos {
    display: flex;
    flex-direction: column;
}

.menu .principal {       /*prop del h1 de pag principal*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    color: white;
    background-color: #acacac;
    width: 25em;
    height: 6.25em;
    padding: 0.8em;
    margin-left:0px;
    text-align:right;    
}

.menu .logo {                                      /*logo grande pag principal*/
   
    max-width: 15em;
    max-height: 12.5em;
    margin-left:0px;
    transition: all 0.5s;
}  

.menu .logo:hover {                                /*logo grande pag principal*/
   
    max-width: 20em;
    max-height: 17.5em;
    margin-right:0px;
       
}  

.menu .leyenda {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    color: #727272;  
    background-color: #eed38c;
    width: 25em;
    height: 3.25em;
    margin-left: 0px;
    text-align:center;
} 

.contain_img {
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.contain_img__principal {
    border: #727272;
    width:40%;
    transform: rotate(10deg);  
}

.contain_img__banner {
    width: 40%;
}


.titleservicios {
    background-color: #a6a6a6;
    width: 967px;
    font-size: 15px;
    text-align: center;
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.bodyservice{
    display:contents;
    margin: 1.5em;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
}
.service {
   
  display: grid;
  grid-template-columns: repeat(5 , 1fr );
  
} 
.bodyservice .service .seccarticulos {
    background-color: #dfe6f4;
    border: 1px black solid;
}

.bodyservice .service .derecho_laboral {
   background-color: #dfe6f4;
    border: 1px black solid;
    grid-column: 1 / 6;
}

.bodyservice .service .asesoramiento_integral {
    background-color: #dfe6f4;
    border: 1px black solid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.bodyservice .service .patrocinio_trabajador {
     
    background-color: #dfe6f4;
    border: 1px black solid;
    grid-column: 3 / 6;
    grid-row: 2 / 3;
}

.service .seccarticulos .titlearticles{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.service .seccarticulos .article {
    font-size: 15px;
    text-align: center;
}
.contenedordatos {
    margin-top: 20px;
}
.contenedordatos .datos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
     }
    
footer {
    display: flex;
    align-content: flex-end;
    justify-content:center;
    width: 100%;
}
footer section {
 
    justify-content: center;  
    background-color: #a6a6a6;
}
footer section p {
    height: 50px;
    
    margin: 0.5rem;
    text-align: center;
    font-size: 1em;
    font-family:sans-serif

}
}
@media screen and (min-width: 576px) and (max-width:720px) {    /*Media queries para tablets y movil M*/
   
    body{                                                        /*Estilos de body*/    
        width: 90%;
        max-width: 75em;
        background: #acacac;
        background: linear-gradient(270deg,#acacac 80%, #eed38c 90%);
        background: -webkit-linear-gradient(270deg,#acacac 80%, #eed38c 90%);
        background: -moz-linear-gradient(270deg,#acacac 80%, #eed38c 90%);
        background-repeat: no-repeat;
    }
    .navbar {
        
        display: flex;
        flex-direction: column;
    }
    .navbar .title {                                       /*fuentes y demás del li*/
        display: flex;
        flex-direction: row;
        font-family: sans-serif;
        position: static;
        flex-wrap: wrap;
        font-weight: bold;
        text-align: center;
        justify-content:center;
        
    }
    .navbar .title li {
        list-style:none;     
        margin-bottom: 5rem;
        margin: 0.625rem;
        text-decoration: none;
                       
    }
       
    .navbar .logop {                                      /*logo pequeño barra de nav*/
        max-width: 5.25em;
        max-height: 5.25em;  
        margin-left: 20px;
        margin-right: 30px; 
        margin-top: 5px;
        border-radius: 7px;
        box-shadow:  -11px -11px 22px #818181,
                 11px 11px 22px #d7d7d7; 
        
    }
    .navbar a {
        border-radius: 3px;
        padding: 0.5rem;
        background-color:#dfe6f4;
        text-decoration: none;
        color: #727272;
        transition: 0.5s;
    }
    .navbar a:hover {
     
        color: white;
        text-decoration: none;
        background-color:#727272;
           
               
    }
    
          
    .menu {
        background-image: url(../image/fondo.png);
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0.5em;
         }
    .menu .titulos {
        display: flex;
        flex-direction: column;
    }
    
    .menu .principal {                            /*prop del h1 de pag principal*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.3em;
        color: white;
        background-color: #acacac;
        width: 25em;
        height: 6.25em;
        padding: 0.8em;
        margin-left:0px;
        text-align:right;    
    }
    
    .menu .logo {                                   /*logo grande pag principal*/
       
        max-width: 15em;
        max-height: 12.5em;
        margin-left:0px;
        transition: all 0.5s;
    }  
    
    .menu .logo:hover {                             /*logo grande pag principal*/
       
        max-width: 20em;
        max-height: 17.5em;
        margin-right:0px;
           
    }  
    
    .menu .leyenda {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.2em;
        color: #727272;  
        background-color: #eed38c;
        width: 25em;
        height: 3.25em;
        margin-left: 0px;
        text-align:center;
    } 
    
    .contain_img {
        display: flex;
        justify-content: center;
        align-items: center;
         
    }
    
    .contain_img__principal {
        border: #727272;
        width:40%;
        transform: rotate(10deg);  
    }
    
    .contain_img__banner {
        width: 40%;
    }
    
    
    .titleservicios {
        background-color: #a6a6a6;
        width: 967px;
        font-size: 15px;
        text-align: center;
        color: white;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    
    .bodyservice{
        display:contents;
        margin: 1.5em;
        width: 90%;
        max-width: 1000px;
        margin: 1.6em auto;
    }
    .service {
       
      display: grid;
      grid-template-columns: repeat(5 , 1fr );
      
    } 
    .bodyservice .service .seccarticulos {
        background-color: #dfe6f4;
        border: 1px black solid;
    }
    
    .bodyservice .service .derecho_laboral {
       background-color: #dfe6f4;
        border: 1px black solid;
        grid-column: 1 / 6;
    }
    
    .bodyservice .service .asesoramiento_integral {
        background-color: #dfe6f4;
        border: 1px black solid;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    
    .bodyservice .service .patrocinio_trabajador {
         
        background-color: #dfe6f4;
        border: 1px black solid;
        grid-column: 3 / 6;
        grid-row: 2 / 3;
    }
    
    .service .seccarticulos .titlearticles{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }
    .service .seccarticulos .article {
        font-size: 15px;
        text-align: center;
    }
    .contenedordatos {
        margin-top: 20px;
    }
    .contenedordatos .datos {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        text-align: center;
         }
        
    footer {
        display: flex;
        align-content: flex-end;
        justify-content:center;
        width: 100%;
    }
    footer section {
     
        justify-content: center;  
        background-color: #a6a6a6;
    }
    footer section p {
        height: 50px;
        
        margin: 0.5rem;
        text-align: center;
        
        font-size: 1em;
        font-family:sans-serif
    
    }  




}


@media screen and (max-width: 576px) {                    /*Media queris para movil S*/

 body{
    width: 90%;
    max-width: 75em;
    background: #acacac;
    background: linear-gradient(270deg,#acacac 80%, #eed38c 90%);
    background: -webkit-linear-gradient(270deg,#acacac 80%, #eed38c 90%);
    background: -moz-linear-gradient(270deg,#acacac 80%, #eed38c 90%);
}
header .navbar {
    
    display: flex;
    flex-direction: column;
}
.navbar .title {                                           /*fuentes y demás del li*/
    display: flex;
    flex-direction:column;
    font-family: sans-serif;
    font-size: 0.8em;
    position: static;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: left;
    justify-content:center;
    
}
.navbar .title li {
    list-style:none;     
    margin-bottom: 5rem;
    margin: 0.625rem;
    text-decoration: none;
                   
}
   
.navbar .logop {                                      /*logo pequeño barra de nav*/
    max-width: 5.25em;
    max-height: 5.25em;  
    margin-left: 20px;
    margin-right: 30px; 
    margin-top: 5px;
    border-radius: 7px;
    box-shadow:  -11px -11px 22px #818181,
             11px 11px 22px #d7d7d7; 
    
}
.navbar a {
    border-radius: 3px;
    padding: 0.3rem;
    background-color:#dfe6f4;
    text-decoration: none;
    color: #727272;
    transition: 0.5s;
}
.navbar a:hover {
 
    color: white;
    text-decoration: none;
    background-color:#727272;
       
           
}

      
.menu {
    background-image: url(../image/fondo.png);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
     }
.menu .titulos {
    display: flex;
    flex-direction: column;
}

.menu .principal {                                   /*prop del h1 de pag principal*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.6em;
    color: white;
    background-color: #acacac;
    width: 100%;
    height: 6.25em;
    padding: 0.8em;
    margin-left:0px;
    text-align:right;    
}

.menu .logo {                                             /*logo grande pag principal*/
   
    max-width: 8em;
    max-height: 5.5em;
    margin-left:0px;
    transition: all 0.5s;
}  

.menu .logo:hover {                                         /*logo grande pag principal*/
   
    max-width: 13em;
    max-height: 10.5em;
    margin-right:0px;
       
}  

.menu .leyenda {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5em;
    color: #727272;  
    background-color: #eed38c;
    width: 100%;
    height: 3.25em;
    margin-left: 0px;
    text-align:center;
} 

.contain_img {
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.contain_img__principal {
    border: #727272;
    width:40%;
    transform: rotate(10deg);  
}

.contain_img__banner {
    width: 40%;
}


.titleservicios {
    background-color: #a6a6a6;
    width: 967px;
    font-size: 15px;
    text-align: center;
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.bodyservice{
    display:contents;
    margin: 1.5em;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
}
.service {
   
  display: grid;
  grid-template-columns: repeat(5 , 1fr );
  
} 
.bodyservice .service .seccarticulos {
    background-color: #dfe6f4;
    border: 1px black solid;
}

.bodyservice .service .derecho_laboral {
   background-color: #dfe6f4;
    border: 1px black solid;
    grid-column: 1 / 6;
}

.bodyservice .service .asesoramiento_integral {
    background-color: #dfe6f4;
    border: 1px black solid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.bodyservice .service .patrocinio_trabajador {
     
    background-color: #dfe6f4;
    border: 1px black solid;
    grid-column: 3 / 6;
    grid-row: 2 / 3;
}

.service .seccarticulos .titlearticles{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.service .seccarticulos .article {
    font-size: 15px;
    text-align: center;
}
.contenedordatos {
    margin-top: 20px;
}
.contenedordatos .datos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
     }
    
footer {
    display: flex;
    align-content: flex-end;
    justify-content:center;
    width: 100%;
}
footer section {
 
    justify-content: center;  
    background-color: #a6a6a6;
}
footer section p {
    height: 50px;
    
    margin: 0.5rem;
    text-align: center;
    font-size: 0.6em;
    font-family:sans-serif

}   

}


